<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.jfenn.attribouter">

    <uses-permission android:name="android.permission.INTERNET" />

    <application>

        <activity
            android:name=".activities.AboutActivity"
            android:theme="@style/AttribouterTheme" />

    </application>

</manifest>
