img {
    max-width: 100%;
    max-height: 100vh;
    margin: 1em 0;
}

div#main {
	margin-left: 10vw;
	margin-right: 10vw;
}

code {
	font-family: 'Roboto Mono', monospace;
	background-color: #E0E0E0;
	padding-left: 4px;
	padding-right: 4px;
	font-size: 0.9em;
}

pre {
    background-color: #E0E0E0;
    border: 1px solid #BDBDBD;
    overflow-x: auto;
    padding: 16px;
}

pre > code {
	padding-left: 0px;
	padding-right: 0px;
	font-size: 1em;
}
